<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
  <listeners>
    <add name="SharePoint Trace Listener" type="EntLibExtensions.SPTraceListener, EntLibExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      listenerDataType="EntLibExtensions.SPTraceListenerData, EntLibExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      SiteURL="http://localhost/sites/entlibdemo" ListName="EntLib SharePoint Logging List" />
  </listeners>
  <categorySources>
    <add switchValue="All" name="General">
      <listeners>
        <add name="SharePoint Trace Listener" />
      </listeners>
    </add>
  </categorySources>
  <specialSources>
    <allEvents switchValue="All" name="All Events" />
    <notProcessed switchValue="All" name="Unprocessed Category" />
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
        <add name="SharePoint Trace Listener" />
      </listeners>
    </errors>
  </specialSources>
</loggingConfiguration>
<cachingConfiguration defaultCacheManager="AppFabric Cache Manager">
  <cacheManagers>
    <add name="AppFabric Cache Manager" type="EntLibExtensions.AppFabricCacheManager, EntLibExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      HostName="localhost" CachePort="22233" CacheName="demo" LocalCache="false"
      SecurityMode="Transport" ProtectionMode="EncryptAndSign" />
    <add name="Disabled Cache Manager" type="EntLibExtensions.DisabledCacheManager, EntLibExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </cacheManagers>
  <backingStores>
    <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      name="NullBackingStore" />
  </backingStores>
</cachingConfiguration>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
